{% extends 'base.html' %}
{% block content %}
        <div class="col-sm-12 col-md-12">
            <form method="post">
                {% csrf_token %}
                <p>Product categor spider</p>
                <p>
                    <label>url: </label>
                    <input type="text" name="url" value="http://www.lordandtaylor.com/Women/shop/_/N-4zteyp/Ne-6ja3o7"/>
                </p>
                <p>
                    <input type="submit" value="start"/>
                </p>
            </form>
        </div>
{% endblock %}